.articleMainImage {
  width: 100%;
  max-height: 720px;
  margin: auto;
  display: block;
}


.shareButton {
  color: black;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  outline: 0;
  padding: 10px;
  height: 50px;
  border: 2px solid black;
  margin-right: 10px;
  transition: 0.3s;
}

.shareButton:hover {
  color: white;
  background-color: black;
  transition: 0.4s;
}


.authorAttribute {
  margin-bottom: 20px;
}

.articleAuthorAvatar {
  border-radius: 50%;
}

.articleFooter h3 {
  font-weight: 900;
  margin: 50px 0px 50px;
  border-bottom: 2px dashed #cccccc;
}

.content {
  padding-top: 60px;
  font-family: "Inter", sans-serif;
}
.content blockquote {
    position: relative;
    font-size: 26px;
}

.content blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
}
.content blockquote:after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  bottom: 0;
  right: 0;
  margin-right: -0.6em;
  margin-bottom: -0.8em;
}

.content h1 { font-size: 60px; }
.content h2 { font-size: 48px; }
.content h3 { font-size: 36px; }
.content h4 { font-size: 30px; }
.content h5 { font-size: 26px; }
.content h1, .content h2, .content h3, .content h4, .content h5 {
  font-weight: 900;
  margin: 20px 0px 10px;
}

.content p, .content a {
  font-size: 23px;
  line-height: 40px;
  font-weight: 400;
}

.content p {
  margin: 0px 0px 50px;
}

.content {
  padding-top: 80px;
  font-family: "Inter", sans-serif;
}

.content figure {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content a {
  color: #33e2c5;
  border-bottom: 1px dotted #33e2c5;
  text-decoration: none;
}