.content {
  padding-top: 60px;
  font-family: "Inter", sans-serif;
}

.content h1 { font-size: 60px; }
.content h2 { font-size: 48px; }
.content h3 { font-size: 36px; }
.content h4 { font-size: 30px; }
.content h5 { font-size: 26px; }
.content h1, .content h2, .content h3, .content h4, .content h5 {
  font-weight: 900;
  margin: 30px 0px 30px;
  border-bottom: 2px dashed #cccccc;
}

.content p, .content a {
  font-size: 20px;
  font-weight: 500;
}

.content p {
  margin: 0px 0px 30px;
}

.content a {
  color: #00aeff;
  border-bottom: 1px dotted #00aeff;
  text-decoration: none;
}

.content {
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 50%;
  overflow: hidden;
  padding: 0px 20px;
}

@media only screen and (max-width: 1000px) {
 .container {
    margin: 0 auto;
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
 .container {
    margin: 0 auto;
    width: 95%;
  }
}