.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  margin-top: auto;
  font-size: .85em;
  color: #fff;
  background-color: #000;
}