.bgjetblack { background-color: #000; }
.bgjetwhite { background-color: #fff; }
.jetblack { color: #000;}
.jetwhite { color: #fff;}

.dinlineblock { display: inline-block; }

.m2rem { margin: 2rem; }
.m1rem { margin: 1rem; }
.mt2rem { margin-top: 2rem; }
.mt1rem { margin-top: 1rem; }
.mb2rem { margin-bottom: 2rem; }
.mb1rem { margin-bottom: 1rem; }
.ml2rem { margin-left: 2rem; }
.ml1rem { margin-left: 1rem; }
.mr2rem { margin-right: 2rem; }
.mr1rem { margin-right: 1rem; }

.mAuto { margin: auto; }
.mtAuto { margin-top: auto; }
.mbAuto { margin-bottom: auto; }
.mlAuto { margin-left: auto; }
.mrAuto { margin-right: auto; }

.header {
  background-color: #000;
  z-index: 1000;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.headerContainer {
  padding: 10px 0px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

@media only screen and (max-width: 800px) {
  .buttonHeader { font-size: 14px !important; }
}

.mrauto {
  margin-right: auto;
}
.headerLogo {
  height: 40px;
  fill: #fff;
}

.buttonHeader {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  letter-spacing: .1em;
  outline: 0;
  padding: 0px;
  height: 100%;
}

.buttonHeader a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.buttonHeader:hover, .buttonHeader.active {
  transition: 0.5s;
  background-color: rgb(20, 20, 20);
}

.indexContent {
  padding-top: 80px;
  font-family: "Inter", sans-serif;
}

.indexTransition {
  text-align: left;
  font-weight: 900;
  padding-bottom: 10px;
  font-size: 56px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;
}

.indexArticles {
  justify-content: center;
  display: grid;
  grid-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  grid-row-gap: 0px;
  row-gap: 0px;
  padding-bottom: 80px;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.articleCard {
  transition: .5s;
  background: white;
  grid-column-start: auto;
  grid-row-start: auto;
  width: 100%;
  min-height: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  border-bottom: 2px solid #f1f1f1;
}

.articleCard:nth-child(7n+1):hover { background: #f4eeff; }
.articleCard:nth-child(7n+2):hover { background: #eef9bf; }
.articleCard:nth-child(7n+3):hover { background: #ffd5e5; }
.articleCard:nth-child(7n+4):hover { background: #f8b195; }
.articleCard:nth-child(7n+5):hover { background: #aeeff0; }
.articleCard:nth-child(7n+6):hover { background: #fffbbe; }
.articleCard:nth-child(7n+7):hover { background: #cadefc; }

.articleFlex {
  display: flex;
}

.articleCardHeader {
  width: 60%;
}

.articleCardHeader p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.articleCardImage {
  max-width: 100%;
  margin-left: auto;
}

.articleCardImage img {
  border-radius: 5px;
}

.articleCard a {
  text-decoration: none;
  width: 100%;
  padding: 20px;
}

.articleCard h1 {
  font-size: 35px;
  font-weight: 900;
  color: black;
}

.articleCard p {
  color: black;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.articleCard time {
  font-size: 14px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}

@media only screen and (max-width: 1300px) {
  .articleCardImage img { max-width: 75%; }
  .articleCardHeader { width: 75%; }
}

@media only screen and (max-width: 700px) {
  .articleCardImage img { max-width: 50%; }
  .articleCardHeader { width: 90%; }
}

.container {
  margin: 0 auto;
  width: 50%;
  overflow: hidden;
  padding: 0px 20px;
}

@media only screen and (max-width: 1000px) {
 .container {
    margin: 0 auto;
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
 .container {
    margin: 0 auto;
    width: 90%;
  }
}


.footer {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  margin-top: 30px;
  color: rgb(99, 102, 105);
}

.footer .socialmedia {
  padding: 10px;
}

.footer .socialmedia a {
  text-decoration: none;
  margin: 0px 5px;
  color: #33e2c5;
  border-bottom: 2px dotted #33e2c5;
}

.footer .policy {
  padding: 10px;
}

.footer .policy a {
  text-decoration: none;
  margin: 0px 5px;
  color: #33e2c5;
  border-bottom: 2px dotted #33e2c5;
}

.footerLogo {
  margin-top: 10px;
  height: 60px;
  margin-bottom: 10px;
}